.AboutSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*border: white 1px solid;*/
	height: 100vh;
	color: white;
}
.about-header {
	font-family: Delight, sans-serif;
	font-weight: 800;
	font-size: 60px;
	height: 100px;
	/*border: 1px solid white;*/
	display: flex;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	align-items: center;
	justify-content: center;
}

.about-circle-icon {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-square-icon {
	width: 200px;
	height: 60px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white; /* optional */
}

.about-square-icon-wordflash {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	/*border: white 1px solid;*/
}

.about-square-icon-wordflash img {
	object-fit: contain;
	display: block;
	margin-left: 12px;
	/*border: white 1px solid;*/
}

.about-circle-icon img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.about-square-icon img {
	width: 100%;
	object-fit: cover;
	display: block;
}

.about-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.about-icons {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.about-square-icon-wordflash img[lang="es"] {
	height: 130%;
	margin-bottom: 2%;
}
.about-square-icon-wordflash img[lang="en"] {
	height: 100%;
}

/* Mobile styles - 768px and smaller */
@media (max-width: 768px) {

	.AboutSection {
		display: block;
		height: min-content;
		margin-top: 200px;
		font-size: 12px;
		padding: 1rem;
		width: 80svw;
	}

	.about-header {
		font-size: 18px;
		/*border: 0.1em white solid;*/
		width: 100%;
		justify-content: left;
		height: 50px;
	}

	.about-row {
		flex-direction: column; /* header on top */
		align-items: flex-start; /* keeps left alignment */
		width: 100%;
	}

	.about-icons {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		width: 100%;
		justify-content: flex-start; /* keeps icons together */
	}
	.about-square-icon-wordflash img {
		margin-left: 5px;
	}

	.about-square-icon-wordflash {
		height: 14px;
		/*border: white 1px solid;*/
	}
	.about-square-icon-wordflash img[lang="es"] {
		margin-bottom: 2.5%;
	}
}
