html {
	scroll-behavior: smooth;
}
@font-face {
	font-family: "Delight";
	src: url("../assets/fonts/Delight-ExtraLight.woff2") format("woff2"),
		url("../assets/fonts/Delight-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: "Delight";
	src: url("../assets/fonts/Delight-Regular.woff2") format("woff2"),
		url("../assets/fonts/Delight-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: "Delight";
	src: url("../assets/fonts/Delight-Bold.woff2") format("woff2"),
		url("../assets/fonts/Delight-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: "Delight";
	src: url("../assets/fonts/Delight-ExtraBold.woff2") format("woff2"),
		url("../assets/fonts/Delight-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	background-color: black;
}

nav {
	font-family: "Delight", sans-serif;
	z-index: 2;
	font-weight: 800;
}
.section {
	height: 200svh;
	display: flex;
	color: white;
	/*border: 1px solid white;*/
}

.section-words {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-family: "Delight", sans-serif;
	font-weight: 400;
	width: 50%;
	padding: 30px;
	word-spacing: 3px;
}

.section-services-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.push-content-right {
	margin-left: 250px;
}

.section-image {
	position: sticky;
	top: 20svh;
	width: 50%;
	height: 30%;
	/*border: 1px solid white;*/
}

/* Mobile styles - 768px and smaller */
@media (max-width: 768px) {

	.push-content-right {
		margin-left: 0px;
	}

	.section-image {
		width: auto;
		position: static;
		/*border: 1px solid white;*/
	}

	.section {
		padding-top: 12svh;
		width: auto;
		height: auto;
		flex-direction: column;
		align-items: center;
		font-size: 12px;
		/*border: 1px solid white;*/
	}

	.section-words {
		padding: 10px;
		text-align: center;
		width: 70%;
	}
}