.sidebar {
	position: fixed;
	width: 250px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	z-index: 2;
	/*border: solid 1px white;*/ /* Uncomment for debugging */
}

.sidebar-words {
	margin-bottom: 1rem;
}

.sidebar-img {
	width: 80%;
}

/* Mobile styles - 768px and smaller */

@media (max-width: 768px) {
	.sidebar {
		position: fixed;
		width: 100svw;
		height: auto;
		background-color: black;
		top: 0;
		padding: 0px;
		gap: 0px;
	}

	.sidebar-img {
		width: 30%;
		padding: 10px;
	}

	.sidebar-words {
		margin-bottom: 0.1rem;
		width: 100%;
	}
}
